<%= form_for(@cheque, html: { class: "form-horizontal", role: "form" }) do |f| %>
  <% if @cheque.errors.any? %>
    <div class="alert alert-danger alert-dismissable" role="alert">
      <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4><%= pluralize(@cheque.errors.count, "error") %> prohibited this cheque from being saved:</h4>

      <ul>
      <% @cheque.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :recipient_name, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :recipient_name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :payment_date, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.date_select :payment_date, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :amount, class: "col-sm-2 control-label" %>
    <div class="col-sm-10">
      <%= f.text_field :amount, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <%= f.submit class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
