<div class="page-header">
  <%= link_to new_cheque_path, class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-plus"></span>
    New Cheque
  <% end %>
  <h1>Listing cheques</h1>
</div>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>
        <th>Recipient name</th>
        <th>Payment date</th>
        <th>Amount</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <%= content_tag_for(:tr, @cheques) do |cheque| %>
        <td>
          <%= link_to cheque.recipient_name, cheques_path(recipient_name: cheque.recipient_name) %>
        </td>

        <td><%= cheque.payment_date %></td>

        <td><%= number_with_delimiter(cheque.amount, delimiter: ',') %></td>

        <td><%= link_to 'View', cheque %></td>
      <% end %>
    </tbody>
  </table>
</div>
