<div class="page-header">
  <%= link_to cheques_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <h1>Show cheque</h1>
</div>

<dl class="dl-horizontal">
  <dt>Recipient name:</dt>
  <dd><%= @cheque.recipient_name %></dd>

  <dt>Payment date:</dt>
  <dd><%= @cheque.payment_date %></dd>

  <dt>Amount:</dt>
  <dd><%= number_with_delimiter(@cheque.amount, delimiter: ',') %></dd>

  <dt>Amount in words:</dt>
  <dd><%= NumbersInWords.in_words(@cheque.amount).humanize %></dd>
</dl>
